type idc_file, file_type, vendor_file_type; type keylayout_file, file_type, vendor_file_type;

# Fingerprint
type fingerprintd_device, file_type, dev_type;
type fingerprint_data_file, data_file_type, file_type;
type fingerprint_persist_file, file_type;
type sysfs_fpc_dev, sysfs_type, fs_type;

# Rild
type rild_file, file_type, vendor_file_type;

# Rmt
type debugfs_rmt, debugfs_type, fs_type;

# Touchscreen
type proc_touchpanel, fs_type, sysfs_type;

